.sidebar {
  width: 260px;
  background-color: var(--sidebar-color);
  color: var(--inverted-font-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 15px;
}

.sidebarBottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.iconWrapper {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 16px;
}
